body{
    font-family: 'Montserrat', 'Times New Roman', sans-serif;
    background-color: rgba(0, 0, 0, .8);
    min-height: 100vh;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Quicksand', 'Courier New', sans-serif;
    
}

.body-wrapper{
    max-width: 1500px;
    margin: 0 auto;
    background-color:white
    
}

nav{
    overflow: auto;
}

.nav-bar li{
    float: left;
}

.nav-bar li,
footer div ul li{
    text-align: center;
    background-color: white;
    padding: 15px;
}

.nav-bar li a,
footer div ul li a{
    color: white;
    text-decoration: underline;
    color: black;
}

.logo{
    float: left;
    padding: 10px;
}
.menu-display{
    display: none;
    font-size: 50px;
}

.headline-section{
    background-color: rgba(0, 0, 0, .8);
    height: 30vh;
    width: 100%;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    justify-content: center;
    
    -webkit-flex-direction: column;
    flex-direction: column;
}

.headline-title *{
    color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 15px #000; 
}

.headline-title h2{
    font-style: italic;
}


.application {
    padding: 0;
    margin: 0;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

label.error,
.message-field {
    color: #ff0000;
    font-weight: bold;
}

.message-field{
    display: none;
}

.application li{
    text-align: center; 
    margin: 2% 4%;
    width: 90%;
    margin-top: 10px;
}

.sub-title
{
    text-align: center;
    padding: 15px;  
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    
}

.faq h5{
    text-decoration: underline;
    font-size: 25px;
    margin: 10px 5px;
}
.faq p{
    padding: 5px 15px;
    font-size: 20px;
    display: none;
}
.faq h5 .fa-minus-square{
    display: none;
}

footer div ul li:first-child{
    background-color: rgba(0, 0, 0, .8);
    color: white;
    font-weight: bold;
}

@media (max-width: 480px) {
    h1{
        font-size: 30px;
    }
    h4{
        font-size: 20px;
    }
    .logo{
        float: right;
    }
    
    nav{
        z-index: 5; 
        position: absolute;
        display: none;
        width: 90%;
        overflow: hidden;
    }
    .nav-bar li{
        text-align: center;
        border-bottom: 2px solid rgba(0, 0, 0, .8);
        border-right: 2px solid rgba(0, 0, 0, .8);
        background-color: white;
        padding: 15px;
        width: 90%;
    }
    
    
    .nav-bar li a{
        color: white;
        text-decoration: none;
        color: black;
    }
    
    .menu-display{
        display: inline;
    }
    
    .application li input,
    .application li select{
        width: 100%; 
    }
    
    .application-section,
    .miscellaneous-section{
        margin-left: 5%;
        margin-right: 5%
    }
    
    .miscellaneous-section div h3{
        text-align: center;
        padding: 15px;  
        background-color: rgba(0, 0, 0, .8);
        color: white;
        font-weight: bold;
    }
    
}

@media (min-width: 481px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 30px;
    }
    
    .nav-bar{
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        
        -webkit-flex-direction: row;
        flex-direction: row;
        
        justify-content: flex-end;
        font-size: 20px;
    }
    .headline-section {
        background-image: url("../code-wallpaper.jpg");
        background-repeat: repeat-x;
        background-position: center; 
    }
    .application-section{
        overflow: auto;
    }
    .application{
        width: 50%;
        float: left;
    }
    .application li label{
        display: block;
    }
    .application li input,
    .application li select{
        width: 80%;
    }
    
    .miscellaneous-section{
        width: 95%;
        margin: 0 auto;
    }
    
    footer{
        position:absolute;
        background-color: white;
        width: 100%;
        
    }
    footer div{
        float: left;
        width: 33.33%;
        height: 100%;
        
    }
    
    .follow-us li{
        width: 50%;
        float: left;
        box-sizing: border-box;
    }
    .follow-us li:first-child{
        width: 100%;
    }
    
}
